* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
width : 100%;
height : 100%;
}

.main{
    width: 100%;
    height: 100%;
  background-color: #eaeaea;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.cart{
    width: 250px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    position: relative;
   
}


.cart img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom{
    width: 100%;
    height: 20%;
    background-color: black;
    position: absolute;
    bottom: -40%;
    background: linear-gradient(transparent,#222);
    transition: all ease 1s;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 10px;
    
}

.cart:hover .bottom{
    bottom: 0%;
}

.bottom h1{
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 29px;
}

.bottom h4{
    background-color: #eaeaea;
    height: 30px;
    width: 30px;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #222 ;
}

.cart{
  position: relative;
  overflow: hidden;
}

.left{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(90deg, #222, transparent);
  color: white;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  transform: translateX(-100%);   /* left ke bahar */
  transition: transform 0.5s ease;
}

.cart:hover .left{
  transform: translateX(0);
}

.left h1{
      color: white;

    font-weight: 500;
    font-size: 23px;
    
}

.left{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.left h4{
    background-color: #eaeaea;
    height: 30px;
    width: 30px;
    display:flex ;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #222 ;
}